html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #000;
}
.display-4 {
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-family: Algerian, 'Arial Narrow', Arial, sans-serif;
    font-size: 5em;
    color: #f1e8ca;
}

.display-3 {
    font-family: Algerian, 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    color: lightcyan;

}
.display-2 {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: #f1e8ca;
}

.display-1 {
    font-family:'Times New Roman', Times, serif;
    color: #e9e9e3;
    font-size: 1em;
    
}

p.input{
    color: black;
    border: 2px groove lightblue;
    
    background-color: lightblue;

}

.dontForget {
    color: blue;
    background-color: yellow;
}

.basicText {
    color: lightgoldenrodyellow;
}

.footLink {
    font-size: 12px;
}

.icon-red {
    color: red;
}

.icon-purple {
    color: blueviolet;
}

.icon-white {
    color: floralwhite;
}

.card-title {
    text-align: center;
}

.control-label{
    color: honeydew;
}

.card {
    width: 18rem;
    background-color: lightblue;
    border: 3px groove steelblue;
    margin: 4px 4px;
    position: relative;
}

