@{
    ViewData["Title"] = "About Me";
}
<h1 class="display-4">@ViewData["Title"]</h1>
<h3 class="dontForget"> change titles size/font/name etc</h3>

<p class="display-1">Use this page to detail about yourself.</p>
