@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="/css/site.css" />
</head>

<body>
    <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-2">Thank you for checking out my page</h3>
    <p class="display-1"></a>My name is Shelton Brannon. I am a recent Graduate from Troy University where I received my Bachelor's of Science in Applied Computer Science</p>
     
    @* TO DO => insert picture of myself with diploma*@
    <p class="dontForget">insert picture of myself with diploma here</p>

    </div>
    
</body>    

