
@{
    ViewData["Title"] = "Snippets";
}

<h1 class="display-4">@ViewData["Title"]</h1>
<h3 class="dontForget"> change titles size/font/name etc</h3>

<p class="display-1">page for adding code snippets or project examples</p>